apiVersion: v1
kind: ConfigMap
metadata:
  name: oracle-init-sql
data:
  01-create-graalvm-user.sql: |
    ALTER SESSION SET CONTAINER = FREEPDB1;

    DECLARE
      v_cnt NUMBER;
    BEGIN
      SELECT COUNT(*) INTO v_cnt FROM dba_users WHERE username = 'GRAALVM';

      IF v_cnt = 0 THEN
        EXECUTE IMMEDIATE q'[
          CREATE USER GRAALVM IDENTIFIED BY "123GraalVM123**"
          DEFAULT TABLESPACE USERS
          TEMPORARY TABLESPACE TEMP
          QUOTA UNLIMITED ON USERS
        ]';

        EXECUTE IMMEDIATE 'GRANT CREATE SESSION, CREATE TABLE, CREATE SEQUENCE, CREATE VIEW, CREATE PROCEDURE TO GRAALVM';
        EXECUTE IMMEDIATE 'GRANT UNLIMITED TABLESPACE TO GRAALVM';
      END IF;
    END;
    /
